@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
  min-height: 100svh;
  display: grid;
  place-content: center;
  transition: background 0.3s ease, color 0.5s ease;
}
.light{
  background: #baadf3;
  color: #171521;
}
.dark {
  background: #171521;
  color: #eeedf3;
}
.app.ar {
  direction: rtl;
}